
/*** Spinner Start ***/
/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}
/*** Spinner End ***/

.back-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    transition: 0.5s;
    z-index: 99;
}

/*** Button Start ***/
.btn {
    font-weight: 600;
    transition: .5s;
}

.btn-square {
    width: 32px;
    height: 32px;
}

.btn-sm-square {
    width: 34px;
    height: 34px;
}

.btn-md-square {
    width: 44px;
    height: 44px;
}

.btn-lg-square {
    width: 56px;
    height: 56px;
}

.btn-xl-square {
    width: 66px;
    height: 66px;
}

.btn-square,
.btn-sm-square,
.btn-md-square,
.btn-lg-square,
.btn-xl-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

.btn.btn-primary {
    border: none;
}

.btn.btn-primary:hover {
    background: var(--bs-secondary);
}

.btn.btn-secondary {
    color: var(--bs-white);
    border: none;
   
}

.btn.btn-secondary:hover {
    background: var(--bs-primary);
}
/*** Topbar Start ***/
.topbar {
    padding: 2px 10px 2px 20px;
    background: var(--bs-primary);
}
/*** Topbar End ***/

/*** Navbar ***/
.sticky-top {
    transition: 1s;
}

.navbar .navbar-nav .nav-item.nav-link,
.navbar .navbar-nav .nav-link {
    color: var(--bs-dark);
}

.navbar .navbar-nav .nav-link {
    position: relative;
    padding: 10px;
    font-weight: 400;
    font-family: "Playfair Display", serif;
    font-size: 17px;
    transition: .5s;
    z-index: 99;
}

.navbar .navbar-nav .nav-item {
    margin: 0 5px;
}

.navbar .navbar-nav .nav-item::before,
.navbar .navbar-nav .nav-item::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border: 2px solid var(--bs-secondary);
    opacity: 0;
    transition: 0.5s;
    z-index: 2 !important;
}

.navbar .navbar-nav .nav-item::before {
    top: 0;
    left: 0;
    border-bottom: 0;
    border-right: 0;
}
.navbar .navbar-nav .nav-item::after {
    bottom: 0;
    right: 0;
    border-top: 0;
    border-left: 0;
}

.navbar .navbar-nav .nav-item:hover::after,
.navbar .navbar-nav .nav-item:hover::before,
.navbar .navbar-nav .nav-item.active::after,
.navbar .navbar-nav .nav-item.active::before {
    width: 50%;
    height: 50%;
    opacity: 1;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active,
.sticky-top .navbar .navbar-nav .nav-link:hover,
.sticky-top .navbar .navbar-nav .nav-link.active {
    color: var(--bs-secondary) !important;
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107" !important;
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    vertical-align: middle;
}

.navbar .navbar-toggler {
    padding: 8px 15px;
    color: var(--bs-dark);
    background: var(--bs-secondary);
}

.nav-bar .navbar-toggler { 
    color: var(--bs-dark);
    box-shadow: none !important;
}

.navbar .nav-item:hover .dropdown-menu {
    transform: rotateX(0deg);
    visibility: visible;
    background: var(--bs-light);
    transition: .5s;
    opacity: 1;
}

.navbar .nav-item .dropdown-menu {
    background: var(--bs-light);
    transition: 0.5s;
}

.navbar .nav-item .dropdown-menu .dropdown-item {
    transition: 0.5s;
}

.dropdown .dropdown-menu .dropdown-item:hover,
.dropdown .dropdown-menu .dropdown-item.active {
    background: var(--bs-secondary);
    color: var(--bs-white);
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 100%;
        margin-top: 15% !important;
        transform: rotateX(-75deg);
        transform-origin: 0 0;
        border: 0;
        transition: .5s;
        opacity: 0;
        z-index: 9;
    }
}

@media (max-width: 991px) {
    .navbar .nav-item .dropdown-menu {
        position: relative;
        margin-top: 0;
        transition: 0.5s;
    }

    .navbar .navbar-nav .nav-item::after,
    .navbar .navbar-nav .nav-item::before {
        display: none;
    }

    .navbar .navbar-nav .nav-item:hover::after,
    .navbar .navbar-nav .nav-item:hover::before,
    .navbar .navbar-nav .nav-item.active::after,
    .navbar .navbar-nav .nav-item.active::before {
        display: none;

    }

    .navbar .navbar-nav .nav-link {
        padding: 12px 0;
    }

    .navbar .navbar-nav .nav-item {
        margin: 0;
    }

    .navbar .navbar-nav .nav-item.nav-link {
        padding: 12px 0;
    }
}
/*** Navbar End ***/

/*** Single Page Hero Header Start ***/
.bg-breadcrumb {
    position: relative;
    overflow: hidden;
    background: linear-gradient(rgba(0, 18, 72, 0.7), rgba(0, 18, 72, 0.7)), url(../img/carousel-2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0 60px 0;
}

.bg-breadcrumb .breadcrumb {
    position: relative;
}

.bg-breadcrumb .breadcrumb .breadcrumb-item a {
    color: var(--bs-white);
}
/*** Single Page Hero Header End ***/

/*** Carousel Start ***/
.carousel .carousel-inner .carousel-item {
    position: relative;
    overflow: hidden;
    height: 100vh;
}

@media (min-width: 992px) {
    .carousel .carousel-inner .carousel-item img {
        height: 100%;
        object-fit: cover;   
    }
}

@media (max-width: 991px) {
    .carousel .carousel-inner .carousel-item {
        height: 700px;
    }
    .carousel .carousel-inner .carousel-item img {
        height: 700px;
        object-fit: cover;    
    }
}

@media (max-width: 576px) {
    .carousel-item .carousel-caption h1 {
        font-size: 36px;
    }

    .carousel-item .carousel-caption p.fs-5 {
        font-size: 15px;
    }
}

.carousel .carousel-inner .carousel-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: 1;
}

.carousel .carousel-inner .carousel-item .carousel-caption {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
}

.carousel .carousel-indicators {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent !important;
    z-index: 5;
}

.carousel .carousel-indicators li,
.carousel .carousel-indicators li,
.carousel .carousel-indicators li {
    margin-right: 30px !important;
    width: 10px;
    height: 10px;
    border: 6px solid var(--bs-secondary);
    background: var(--bs-white);
    transition: 0.5s;
}

.carousel .carousel-indicators li.active {
    border: 10px solid var(--bs-primary);
}

.carousel .carousel-control-prev,
.carousel .carousel-control-next {
    background: transparent;
}

.carousel .carousel-control-prev .carousel-control-prev-icon {
    position: absolute;
    left: 0;
    padding: 25px 30px;
    background: var(--bs-primary);

}

.carousel .carousel-control-next .carousel-control-next-icon {
    position: absolute;
    right: 0;
    padding: 25px 30px;
    background: var(--bs-primary);

}

.carousel .carousel-control-prev .carousel-control-prev-icon:hover,
.carousel .carousel-control-next .carousel-control-next-icon:hover {
    background: var(--bs-secondary);
    color: var(--bs-white);
}
/*** Carousel End ***/


/*** About Start ***/
.about .about-item-content-img {
    border: 4px solid;
    border-color: var(--bs-secondary) var(--bs-primary) var(--bs-primary) var(--bs-secondary);
}

.about .about-item-image {
    position: relative;
    background: var(--bs-light);
    background-image: url(../img/about-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.about .about-item-image .img-1 {
    margin-bottom: 250px; 
    margin-right: 0;
    border: 4px solid;
    border-color: var(--bs-secondary) var(--bs-light) var(--bs-light) var(--bs-secondary);
    z-index: 3;
}

.about .about-item-image .img-2 {
    margin-top: 250px; 
    margin-left: 0;
    border: 4px solid;
    border-color: var(--bs-light) var(--bs-secondary) var(--bs-secondary) var(--bs-light); 
    z-index: 3;
}

.about .about-item-image::before {
    width: 80%;
    height: 80%;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid;
    border-style: dotted;
    border-color: var(--bs-white);
    background: var(--bs-primary);
    z-index: 2;
}

.about .about-item-image .about-item-image-content {
    width: 55%;
    height: 55%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--bs-secondary);
    border: 4px solid var(--bs-primary);
    opacity: 0.9;
    z-index: 4;
}

.about .about-item-image .about-item-image-effect {
    position: absolute;
    top: 0;
    right: 0;
}
/*** About End ***/

/*** Features Start ***/
.feature .feature-item {
    position: relative;
    transition: 0.5s;
}
.feature .feature-item:hover {
    background: var(--bs-white);
    border: 1px solid transparent;
    box-shadow: 0 0 45px rgba(0, 0, 0, .1);
}

.feature .feature-item:hover a {
    transition: 0.5s;
}

.feature .feature-item:hover a:hover {
    color: var(--bs-secondary);
}

.feature .feature-item .feature-img img {
    border: transparent;
    transition: 0.5s;
} 

.feature .feature-item:hover .feature-img img {
    border: 1px solid var(--bs-secondary);
}  
/*** Features End ***/

/*** Services Start ***/
.service .service-item {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: 1;
}

.service .service-item .service-img img {
    transition: 0.5s;
}

.service .service-item:hover .service-img img {
    transform: scale(1.2);
}

.service .service-item::after {
    content: "";
    width: 100%;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    z-index: 2;
}

.service .service-item:hover:after {
    height: 100%;
    background: rgba(0, 0, 0, .4);
}

.service .service-item .service-content {
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%; 
    left: 0; 
    transform: translateY(-50%);
    transition: 0.5s;
    opacity: 0;
    z-index: 3;
}

.service .service-item:hover .service-content {
    opacity: 1;
}

.service .service-item:hover .service-content a.fs-4 {
    color: var(--bs-white);
    transition: 0.5s;
}

.service .service-item:hover .service-content a.fs-4:hover {
    color: var(--bs-secondary);
}

.service .service-item .service-title {
    position: absolute;
    width: 100%;
    height: 80px; 
    bottom: 0; 
    right: 0;
    background: var(--bs-light);
    display: flex;
    transition: 0.5s;
    z-index: 3;
}

.service .service-item:hover .service-title {
    margin-right: -100%;
}
/*** Services End ***/

/*** Blog Start ***/
.blog .blog-item .blog-img {
    position: relative;
    overflow: hidden;
}

.blog .blog-item .blog-img img {
    transition: 0.5s;
}

.blog .blog-item:hover .blog-img img {
    transform: scale(1.2);
}

.blog .blog-item .blog-content {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
}

.blog .blog-item .blog-content a {
    transition: 0.5s;
}

.blog .blog-item:hover .blog-content a:hover {
    color: var(--bs-secondary);
}
/*** Blog End ***/

/*** Contact Start ***/
.contact .contact-map {
    position: relative;
    overflow: hidden;
    padding: 20px;
    z-index: 1;
}

.contact .contact-map::before {
    content: "";
    width: 70%;
    height: 70%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: var(--bs-primary);
    z-index: -1;
}

.contact .contact-map::after {
    content: "";
    width: 70%;
    height: 70%;
    position: absolute;
    top: 0;
    right: 0;
    background: var(--bs-secondary);
    z-index: -1;
}
/*** Contact End ***/

/*** Footer Start ***/
.footer {
    background: linear-gradient(rgba(0, 18, 72, 0.9), rgba(0, 18, 72, 1)), url(../img/footer-img.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
.footer .footer-item a {
    line-height: 35px;
    color: var(--bs-body);
    transition: 0.5s;
}

.footer .footer-item p {
    line-height: 35px;
}

.footer .footer-item a:hover {
    letter-spacing: 1px;
    color: var(--bs-secondary);
}

.footer .footer-item .footer-btn a,
.footer .footer-item .footer-btn a i {
    transition: 0.5s;
}

.footer .footer-item .footer-btn a:hover {
    background: var(--bs-white);
}

.footer .footer-item .footer-btn a:hover i {
    color: var(--bs-primary) !important;
}
/*** Footer End ***/

/*** copyright Start ***/
.copyright {
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    background: var(--bs-dark);
}
/*** copyright end ***/


.faqs {
    position: relative;
    width: 100%;
    padding: 45px 0;
}

.faqs .row {
    position: relative;
}

.faqs .row::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 100%;
    top: 0;
    left: calc(50% - .5px);
    background: #ff5e15;
}

.faqs #accordion-1 {
    padding-right: 15px;
}

.faqs #accordion-2 {
    padding-left: 15px;
}

@media(max-width: 767.98px) {
    .faqs .row::after {
        display: none;
    }
    
    .faqs #accordion-1,
    .faqs #accordion-2 {
        padding: 0;
    }
    
    .faqs #accordion-2 {
        padding-top: 15px;
    }
}

.faqs .card {
    margin-bottom: 15px;
    border: none;
    border-radius: 0;
}

.faqs .card:last-child {
    margin-bottom: 0;
}

.faqs .card-header {
    padding: 0;
    border: none;
    background: #ffffff;
}

.faqs .card-header a {
    display: block;
    padding: 10px 25px;
    width: 100%;
    color: #121518;
    font-size: 16px;
    line-height: 40px;
    border: 1px solid rgba(0, 0, 0, .1);
    transition: .5s;
}

.faqs .card-header [data-bs-toggle="collapse"][aria-expanded="true"] {
    background: #ff5e15;
}

.faqs .card-header [data-bs-toggle="collapse"]:after {
    font-family: 'font Awesome 5 Free';
    content: "\f067";
    float: right;
    color: #ff5e15;
    font-size: 12px;
    font-weight: 900;
    transition: .5s;
}

.faqs .card-header [data-bs-toggle="collapse"][aria-expanded="true"]:after {
    font-family: 'font Awesome 5 Free';
    content: "\f068";
    float: right;
    color: #030f27;
    font-size: 12px;
    font-weight: 900;
    transition: .5s;
}

.faqs .card-body {
    padding: 20px 25px;
    font-size: 16px;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, .1);
    border-top: none;
}


.section-header h2 {
    margin: 0;
    position: relative;
    font-size: 50px;
    font-weight: 700;
        font-family: 'Poppins', sans-serif;
            color: #030f27;
}

@media (max-width: 767.98px) {
    .section-header h2 {
        font-size: 30px;
            font-family: 'Poppins', sans-serif;
    }
}

.section-header p {
    color: #ff5e15 ;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}


p {
    margin-top: 0;
    margin-bottom: 1rem;
}



/*******************************/
/******* Testimonial CSS *******/
/*******************************/

/*******************************/
/******* Testimonial CSS *******/
/*******************************/
/* .testimonial {
    position: relative;
    margin: 45px 0;
    padding: 90px 0;
    text-align: center;
    background: linear-gradient(rgba(3, 15, 39, .9), rgba(3, 15, 39, .9)), url(../img/carousel-1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.testimonial .container {
    max-width: 760px;
}

.about-page .testimonial {
    padding-bottom: 90px;
}

.testimonial .testimonial-slider-nav {
    position: relative;
    width: 300px;
    margin: 0 auto;
}

.testimonial .testimonial-slider-nav .slick-slide {
    position: relative;
    opacity: 0;
    transition: .5s;
}

.testimonial .testimonial-slider-nav .slick-active {
    opacity: 1;
    transform: scale(1.3);
}

.testimonial .testimonial-slider-nav .slick-center {
    transform: scale(1.8);
    z-index: 1;
}

.testimonial .testimonial-slider-nav .slick-slide img {
    position: relative;
    display: block;
    margin-top: 37px;
    width: 100%;
    height: auto;
    border-radius: 100px;
}

.testimonial .testimonial-slider {
    position: relative;
    margin-top: 15px;
    padding-top: 50px;
}

.testimonial .testimonial-slider::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 50px;
    top: 0;
    left: calc(50% - 30px);
    background: url(../img/quote.png) top center no-repeat;
}

.testimonial .testimonial-slider h3 {
    color: #ff5e15;
    font-size: 22px;
    font-weight: 700;
}

.testimonial .testimonial-slider h4 {
    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
    font-style: italic;
    margin-bottom: 10px;
}

.testimonial .testimonial-slider p {
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
} */

/* .testimonial{
    padding:100px 0;
    background:
    linear-gradient(rgba(3,15,39,.9), rgba(3,15,39,.9)),
    url('../img/carousel-1.jpg');

    background-size:cover;
    background-position:center;
    overflow:hidden;
}

.testimonial .swiper{
    width:100%;
    padding-top:50px;
    padding-bottom:50px;
}

.testimonial .swiper-slide{
    background:#fff;
    border-radius:20px;

    padding:30px;

    text-align:center;

    opacity:.4;
    transform:scale(.8);

    transition:0.4s;
}

.testimonial .swiper-slide-active{
    opacity:1;
    transform:scale(1.1);
}

.testimonial .swiper-slide img{
    width:100px;
    height:100px;

    border-radius:50%;

    object-fit:cover;

    margin-bottom:20px;

    border:5px solid #ff5e15;
}

.testimonial .swiper-slide h3{
    color:#ff5e15;
    font-size:24px;
    margin-bottom:10px;
}

.testimonial .swiper-slide h4{
    color:#555;
    margin-bottom:15px;
}

.testimonial .swiper-slide p{
    color:#777;
    line-height:1.7;
} */

.testimonial {
    position: relative;
    padding: 100px 0;
    text-align: center;

    background:
    linear-gradient(rgba(3,15,39,.9), rgba(3,15,39,.9)),
    url('../img/carousel-1.jpg');

    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.testimonial .container {
    max-width: 900px;
}

.testimonialSwiper {
    overflow: hidden;
}

.swiper-slide {
    text-align: center;
    color: #fff;
    padding: 30px 20px;
}

.testimonial-images {
    position: relative;
    width: 300px;
    height: 140px;
    margin: auto;
}

.main-img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;

    border: 5px solid #fff;
}

.small-img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;

    position: absolute;
    top: 15px;
    z-index: 1;

    border: 4px solid #fff;
    opacity: .9;
}

.left-img {
    left: 20px;
}

.right-img {
    right: 20px;
}

.quote-icon {
    font-size: 70px;
    color: #ff5e15;
    line-height: 1;
    margin-top: 30px;
}

.swiper-slide h3 {
    color: #ff5e15;
    font-size: 24px;
    font-weight: 700;
    margin-top: -25px;
}

.swiper-slide h4 {
    color: #ffffff;
    font-style: italic;
    margin-bottom: 10px;
}

.swiper-slide p {
    max-width: 800px;
    margin: auto;

    color: #ffffff;
    font-size: 20px;
    line-height: 1.8;
}




/*** Project Portfolio ***/
#portfolio-flters li {
    display: inline-block;
    font-weight: 500;
    color: var(--dark);
    cursor: pointer;
    transition: .5s;
    border-bottom: 2px solid transparent;
}

#portfolio-flters li:hover,
#portfolio-flters li.active {
    color: var(--primary);
    border-color: var(--primary);
}

.portfolio-item img {
    transition: .5s;
}

.portfolio-item:hover img {
    transform: scale(1.1);
}

.portfolio-item .portfolio-overlay {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0;
    height: 0;
    bottom: 0;
    left: 50%;
    background: rgba(53, 53, 53, .7);
    transition: .5s;
}

.portfolio-item:hover .portfolio-overlay {
    width: 100%;
    height: 100%;
    left: 0;
}

.portfolio-item .portfolio-overlay .btn {
    opacity: 0;
}

.portfolio-item:hover .portfolio-overlay .btn {
    opacity: 1;
}


/*** Quote ***/
@media (min-width: 992px) {
    .container.quote {
        max-width: 100% !important;
    }

    .quote-text  {
        padding-right: calc(((100% - 960px) / 2) + .75rem);
    }
}

@media (min-width: 1200px) {
    .quote-text  {
        padding-right: calc(((100% - 1140px) / 2) + .75rem);
    }
}

@media (min-width: 1400px) {
    .quote-text  {
        padding-right: calc(((100% - 1320px) / 2) + .75rem);
    }
}

